@import "tailwindcss";


* {
    box-sizing: border-box;
}

body {

    background: linear-gradient(#fffbeb, #f0e6d2, #ffdab9);
    background-repeat: no-repeat;
    min-height: 100vh;
    height: 100%;
    width: 100%;

}

.content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.navigate {

    background-color: #f0e6d2;

}